@import url('https://fonts.googleapis.com/css?family=Aldrich|Roboto+Mono');

$dark: #20242b;
$light-blue: #b7deff;

body {
  color: $light-blue;
  background-image: url('./img/world1.png');
  background-size: cover;
  background-attachment: fixed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}