@import url('https://fonts.googleapis.com/css?family=Aldrich');

.home {
  width: 1200px;
  height: 700px;
  margin: auto;
  background-image: url('./img/world1.png');
  background-size: cover;
  text-align: center;
}

h1 {
  color: $light-blue;
  font-family: 'Aldrich';
}